@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "abel", sans-serif;

  font-style: normal;

  background: #f9f9f9;
  margin: 0 70px;
}

li {
  margin: 0px 40px;
  list-style: none;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  height: 43px;
  padding: 40px 0;
}

.nav-items {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  align-items: center;
}

.title {
  width: 84px;
  height: 41px;
  font-size: 32px;
}

.Main {
  display: flex;
  justify-content: space-between;

  height: 100vh;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description h1 {
  width: 608px;
  height: 160px;

  font-size: 64px;
  line-height: 80px;
  font-weight: normal;

  color: #303031;

  /* Inside Auto Layout */
}

.description p {
  color: #66645e;
  font-size: 24px;
  line-height: 32px;
  width: 608px;
  height: 32px;
}

.img {
  display: flex;
  align-items: center;
}

.Main img {
  width: 600px;
  max-width: 90%;
  margin: 0 auto;
}

button {
  font-family: "abel", sans-serif;
  background-color: black;
  color: #fff;
  width: 107px;
  height: 64px;
  border-radius: 8px;
  margin-top: 72px;
}

/*  Scrims */

.scrims {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}

.scrimsHeading {
  font-size: 48px;
  font-weight: bold;
  width: 895px;
  height: 64px;
  text-align: center;
  margin-bottom: 124px;
}

.cards {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.card {
  width: 427px;
  height: 340px;
  background: #fff;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .card img {
  margin-bottom: 10px;
  width: 104px;
  height: 88px;
} */

.shape {
  margin-bottom: 10px;
  position: relative;
}

.circle {
  width: 88px;
  height: 88px;
  background: #f3f0ea;
  border-radius: 50%;
}

.black-triangle {
  background: #303031;
  width: 47px;
  height: 47px;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);

  position: absolute;
  bottom: 25%;
  left: 27%;
}

.green-triangle {
  position: absolute;
  /* Intersect */
  bottom: 25%;
  left: 39%;

  width: 24.9px;
  height: 48px;

  /* Green */

  background: #71a894;

  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

.shape3 {
  position: relative;
  margin-bottom: 10px;
}

.greenCircle {
  width: 56px;
  height: 56px;
  background: #71a894;
  border-radius: 50%;

  position: absolute;
  bottom: 17%;
  left: 19%;
}
.greenCircle {
  width: 56px;
  height: 56px;
  background: #71a894;
  border-radius: 50%;

  position: absolute;
  bottom: 17%;
  left: 19%;
}

.blackCircle {
  width: 32px;
  height: 32px;
  background: rgba(48, 48, 49, 0.8);
  border-radius: 50%;

  position: absolute;
  bottom: 29%;
  left: 32%;
}

.star {
  width: 16px;
  height: 16px;
  background: #f3f0ea;
  clip-path: polygon(
    50% 0,
    60% 35%,
    100% 35%,
    70% 60%,
    80% 100%,
    50% 70%,
    20% 100%,
    30% 60%,
    0 35%,
    40% 35%
  );

  position: absolute;
  bottom: 38%;
  left: 41%;
}


.below {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 160px;

}

.left h1 {
  width: 644px;
  font-size: 48px;

}

.cardE {
  position: relative;
}


.right{
  position: relative;
}
.upper {
  width: 484px;
  height: 400px;
  background-color: #fff;
  border: 4px solid #303031;
  border-radius: 16px;
  position: absolute;
  bottom: 15px;
  right: 20px;
   
}

.content {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

}

.content h3{
  font-size: 32px;


}


/* .members {
  display: flex;
  flex-direction: column;

  height: 255px;
  justify-content: space-evenly;
} */

.member {
  display: flex;
  margin-top: 25px;
}

.member img {
  border-radius: 50%;
}


.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 16px;
}
.info p {
  color: #66645E;
  margin: 4px 0px;
}


.inner {
  width: 484px;
height: 400px;
background: #71A894;
border-radius: 16px;


}



.aboutus {

  width: 100%;
  height: 80vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}


.aheading {
  display: grid;
  place-items: center;
}

.aheading h1 {
  font-size: 48px;
}
.aheading p {
  margin-top: 10px;
}


.aboutus .acard {
  width: 427px;
  height: 240px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
border-radius: 16px;
background-color: #fff;
padding: 20px;

display: flex;
flex-direction: column;
justify-content: space-between;

}


.cardbelow {
  display: flex;
  justify-content: space-between;
}

.cardbelow .aut {
  width: 60px;
  height: 32px;
  font-size: 16px;
  padding: 4px 8px;
  text-align: center;
  background: #71A894;
  color: #fff;
  border-radius: 40px;
}

.connect {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}


.connect h1 {
  width: 644px;
  height: 64px;
  font-size: 48px;
}
.connect img {
   width: 644px;
height: 361px;

}