@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "abel", sans-serif;

  font-style: normal;

  background: #f9f9f9;
  margin: 0 70px;
}

li {
  margin: 0px 40px;
  list-style: none;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  height: 43px;
  padding: 40px 0;
}

.nav-items {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  align-items: center;
}

.title {
  width: 84px;
  height: 41px;
  font-size: 32px;
}

.Main {
  display: flex;
  justify-content: space-between;

  height: 100vh;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.heading {
  /* font-size: 64px;
  width: 608px;
  height: 160px;
  margin: 24px 0px;
  font-weight: lighter;
  color: #303031; */
  /* Title */

  width: 608px;
  height: 160px;

  font-size: 64px;
  line-height: 80px;
  font-weight: normal;

  color: #303031;

  /* Inside Auto Layout */
}

.description p {
  color: #66645e;
  font-size: 24px;
  line-height: 32px;
  width: 608px;
  height: 32px;
}

.Main button {
  margin-top: 72px;
}

.img {
  display: flex;
  align-items: center;
}

.Main img {
  width: 600px;
  max-width: 90%;
  margin: 0 auto;
}

.Main button {
  font-family: "abel", sans-serif;
  background-color: black;
  color: #fff;
  width: 107px;
  height: 64px;
  border-radius: 8px;
}

/*  Scrims */

.scrims {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scrimsHeading {
  font-size: 48px;
  font-weight: bold;
  width: 895px;
  height: 64px;
  text-align: center;
}

.cards {
  width: 100%;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 427px;
  height: 340px;
  background: #fff;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .card img {
  margin-bottom: 10px;
  width: 104px;
  height: 88px;
} */

.shape {
  margin-bottom: 10px;
  position: relative;
}

.circle {
  width: 88px;
  height: 88px;
  background: #f3f0ea;
  border-radius: 50%;
}

.black-triangle {
  background: #303031;
  width: 47px;
  height: 47px;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);

  position: absolute;
  bottom: 25%;
  left: 27%;
}

.green-triangle {
  position: absolute;
  /* Intersect */
  bottom: 25%;
  left: 39%;

  width: 24.9px;
  height: 48px;

  /* Green */

  background: #71a894;

  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}
