@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "abel", sans-serif;
  background-color: rgba(0, 255, 255, 0.068);
}

li {
  margin: 0px 40px;
  list-style: none;
}

.nav-bar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px 56px;
}

.nav-items {
  display: flex;
  font-size: 20px;
  align-items: center;
}

.title {
  width: 84px;
  height: 41px;
  font-size: 32px;
}

.Main {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(0, 255, 255, 0.24);
  height: 100vh;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.heading {
  font-size: 64px;
  width: 608px;
  height: 160px;
  margin: 24px 0px;
  font-weight: lighter;
  color: #303031;
}

.description p {
  color: #66645e;
}

.Main button {
  margin-top: 72px;
}

.img {
  display: flex;
  align-items: center;
}

.Main img {
  width: 600px;
  max-width: 90%;
  margin: 0 auto;
}

.Main {
  display: flex;
  justify-content: center;
}

.Main button {
  font-family: "abel", sans-serif;
  background-color: black;
  color: #fff;
}
